*.Rout
R/r_workspace.RData
*.Rout
*.Rout
*.Rout
*.Rout
*.Rout
*.pper
R/401k/.Rproj.user/4AD07F26/rmd-outputs
R/401k/.Rproj.user/4AD07F26/sdb/prop/INDEX
R/401k/.Rproj.user/shared/notebooks/paths
R/401k/.Rproj.user/4AD07F26/persistent-state
R/MOEX/.Rproj.user/4AD07F26/sdb/s-5A2573E0/4BAF899E
R/MOEX/.Rproj.user/4AD07F26/sdb/s-5A2573E0/lock_file
R/Backtesting/.Rproj.user/4AD07F26/persistent-state
R/Backtesting/.Rproj.user/4AD07F26/sdb/s-C669A437/CE2B8F06
R/MOEX/.Rproj.user/4AD07F26/rmd-outputs
*.Rhistory
R/MOEX/.RData
R/MOEX/.Rproj.user/4AD07F26/saved_source_markers
R practice/.RData
*.Rhistory
R/401k/.Rproj.user/4AD07F26/saved_source_markers
R/401k/report.pdf
R practice/.RData
R/MOEX/.Rproj.user/4AD07F26/session-persistent-state
*.Rdata
R/Backtesting/.Rproj.user/4AD07F26/sdb/per/t/23838D84
R/Backtesting/.Rproj.user/4AD07F26/rmd-outputs