*.Rout
R/r_workspace.RData
*.Rout
*.Rout
*.Rout
*.Rout
*.Rout
*.pper
R/401k/.Rproj.user/4AD07F26/rmd-outputs
R/401k/.Rproj.user/4AD07F26/sdb/prop/INDEX
R/401k/.Rproj.user/shared/notebooks/paths
R/401k/.Rproj.user/4AD07F26/persistent-state
R/MOEX/.Rproj.user/4AD07F26/sdb/s-5A2573E0/4BAF899E
R/MOEX/.Rproj.user/4AD07F26/sdb/s-5A2573E0/lock_file
R/Backtesting/.Rproj.user/4AD07F26/persistent-state
R/Backtesting/.Rproj.user/4AD07F26/sdb/s-C669A437/CE2B8F06
R/MOEX/.Rproj.user/4AD07F26/rmd-outputs
*.Rhistory
R/MOEX/.RData
R/MOEX/.Rproj.user/4AD07F26/saved_source_markers
R practice/.RData
*.Rhistory
R/401k/.Rproj.user/4AD07F26/saved_source_markers
R/401k/report.pdf
R practice/.RData
R/MOEX/.Rproj.user/4AD07F26/session-persistent-state
*.Rdata
R/Backtesting/.Rproj.user/4AD07F26/sdb/per/t/23838D84
R/Backtesting/.Rproj.user/4AD07F26/rmd-outputs
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/4757B5C2
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/BB21A0DB
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/348654F4
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/75ED7314
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/88127F36
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/8C5A221
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/9D379E13
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/AF831970
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/C62C3C5F
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/C630DE14
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/D0492A43
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/E3D7D9CB
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/ED4DFD53
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/INDEX
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/1C0F6D8
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/1C0F6D8-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/2C784FA2-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/3C254FF6-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/45888173-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/59697213-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/60BE1687-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/6D61F55D
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/6D61F55D-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/6F68A3E1
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/6F68A3E1-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/74710170
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/74710170-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/8957C625
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/8957C625-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/A1397711-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/A6CA71F8
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/A6CA71F8-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/B91699C6
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/B91699C6-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/BB21A0DB-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/D7A6457D
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/D7A6457D-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/F2B43D8E
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/F2B43D8E-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/lock_file
R/Backtesting/.Rproj.user/shared/notebooks/patch-chunk-names
R/Backtesting/.Rproj.user/shared/notebooks/paths
R/Backtesting/.Rproj.user/E46C41AC/sources/prop/15C74288
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/A0BD1B6C-contents
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/DCAC9BBD
R/Backtesting/.Rproj.user/E46C41AC/sources/s-6ACE388/DCAC9BBD-contents
