*.Rout
R/r_workspace.RData
*.Rout
*.Rout
*.Rout
*.Rout
*.Rout
*.pper
R/401k/.Rproj.user/4AD07F26/rmd-outputs
R/401k/.Rproj.user/4AD07F26/sdb/prop/INDEX
R/401k/.Rproj.user/shared/notebooks/paths
R/401k/.Rproj.user/4AD07F26/persistent-state
R/MOEX/.Rproj.user/4AD07F26/sdb/s-5A2573E0/4BAF899E
R/MOEX/.Rproj.user/4AD07F26/sdb/s-5A2573E0/lock_file